<h1>Pour réinitialiser votre mot de passe, cliquez sur le lien en-dessous: </h1>
<a href="{{ url(token) }}">Cliquez pour réinitialiser</a>
<div>
    <p>Si le lien ne fonctionne pas, copier/coller l'adresse suivante dans votre navigateur</p>
        {{ url(token) }}
</div>