{% extends 'admin/base.admin.html.twig' %}

{% block colright %}
    <h1 class="mb-4">Catégories</h1>

    {{ form_start(form, {'attr' : {'novalidate' : 'novalidate'}}) }}
    {{ form_end((form) }}
{% endblock %}