<div class="row">
    <div class="col">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">My Website</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><span class="fas fa-home"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                            Dropdown
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Link</a>
                            <a class="dropdown-item" href="#">Link</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <form class="form-inline my-2 my-lg-0" action="{{ url('search.index') }}" method='post'>
                            <input class="form-control mr-sm-2" type="search" name="search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </li>
                </ul>


                <div class="my-1">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                <span class="fas fa-user"></span>
                            </a>
                            <div class="dropdown-menu">
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <a class="dropdown-item" href="{{ url('security.logout') }}">Déconnexion</a>
                                    {% else %}
                                        <a class="dropdown-item" href="{{ url('security.login') }}"></a>
                                {% endif %}


                                <a class="dropdown-item" href="#">Link</a>
                                <a class="dropdown-item" href="#">Link</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Link</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
